body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #696969;
  background-image: linear-gradient(to bottom right, hotpink, purple);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: purple;
  font-weight: bold;
}
h1 {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 3px;*
  font-size: 22px;
  font-family: "Lucida Console", "Courier New", monospace;
}